@model HairSalon.Models.Stylist;

@{
  Layout = "_Layout";
}

<h1>Add a new stylist</h1>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <br>
  <input type="submit" value="Add stylist" />
}

<p>@Html.ActionLink("Back to Stylists", "Index")</p>

